.app {
  text-align: center;
  border: 1px solid #ccc;
  text-transform: uppercase;
}

.calendarHeader {
  display: flex;
  background-color: #f7f7f7;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.calendarGrid {
  display: grid;
  grid-template-rows: auto 1fr;
}

.calendarDays {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);
  background-color: #f1f1f1;
  font-weight: bold;
  padding: 4px;
  color: #666;
  gap: 4px;
}

.calendarDay {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.calendarDates {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);
  padding: 4px;
  gap: 4px;
}

.calendarDate {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  cursor: pointer;
  text-align: center;
  border-radius: 100%;
  transition: background-color 0.3s, color 0.3s;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.calendarDate:hover {
  background-color: #eaeaea;
}

.calendarDate.today {
  background-color: #0070f3;
  color: white;
  font-weight: bold;
  border-radius: 100%;
}

.calendarDate.selected {
  background-color: #0070f3;
  color: white;
}

.calendarDate.range {
  background-color: #d0e8ff;
  color: #0070f3;
  font-weight: bold;
}

.today {
  font-weight: bold;
  background-color: #007bff;
  color: white;
}

.selected {
  background-color: #ffcc00;
  color: white;
}

.faded {
  color: #bbb;
  opacity: 0.5;
}

.footer {
  padding: 10px;
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
}